.homeDiv {
  background-image: url("../image/home.webp");
}

.headerBar {
  background-color: #009FBD;
}

body {
  background-color: #fdfeef;
}

.gocentresearch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
}

.headerBar img {
  width: auto;
  height: 70px;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
