<!DOCTYPE html>
<html>

<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='jquery/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</head>

<body onload="flashMessage()">
    <script>
        function flashMessage() {
            if ("{{ flash_message }}" == "TRUE") {
                alert("[INVALID ID OR INCORRECT PASSWORD]");
            }
        }
    </script>
    <!-- <form action="dashboard" method="post">
        <label>Email:<input type="text" name="email" placeholder="Email" id="email" class="info">
        </label><br>
        <label>Password:<input type="password" name="password" placeholder="Password" id="password" class="info">
            <br>

            <input type="submit" class="menu" name="login" value="Login">
    </form>
    <br>
    <br>
 
    <form action="signup" method="post">
        <label><input type="submit" class="menu" name="signup" value="Sign Up"> </label>
    </form>

    <form action="adminlogin" method="post">
        <label><input type="submit" class="menu" name="signup" value="Admin Login"> </label>
    </form>
    <br>-->
    <header class="headerBar d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

        <a href="/"
            class="ms-5 d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 text-light fw-bold shadow-sm px-2 rounded">Sufi Dental</span>
        </a>
    </header>

    <div class="container d-flex justify-content-center h">
        <div class="col-4 border border-black my-5 p-5 rounded shadow-lg"><!--the container-->
            <h3 class="">Admin Login</h3>
            <form action="admindashboard" class="mt-5" method="post">
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Admin ID</label>
                    <input type="number" class="form-control" name="admin_id" id="loginEmail">
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" name="admin_pw" id="loginPassword">
                </div>
                <div class="d-flex justify-content-center mt-5"><button type="submit"
                        class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>

</html>