<!DOCTYPE html>
<html>

<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='jquery/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>


    <!-- Script for Pop Up -->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                alert(flashMessage.innerText);
            }
        });
    </script>

</head>

<body>
    
    <header class="headerBar d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

        <a href="/"
            class="ms-5 d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 text-light fw-bold shadow-sm px-2 rounded">Sufi Dental</span>
        </a>
    </header>

    <div class="container d-flex justify-content-center h">
        <div class="col-4 border border-black my-5 p-5 rounded shadow-lg"><!--the container-->
            <h3 class="">Admin Login</h3>
            <form action="admindashboard" class="mt-5" method="post">
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Admin ID</label>
                    <input type="text" inputmode="numeric" class="form-control" name="admin_id" id="loginEmail">
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" name="admin_pw" id="loginPassword">
                </div>
                <div class="d-flex justify-content-center mt-5"><button type="submit"
                        class="btn btn-primary">Login</button>
                </div>
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash-message" style="display: none;">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>

</html>